{% load static %}
<!DOCTYPE html>
<html language="eg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width,initial scale=1.0">
        <title> recorded_sessions</title>

        <link rel="stylesheet" href="{%static 'css/style.css' %}">
    </head>
    <body bgcolor="black">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SyvKvdlECYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        
    </body>
</html>